openapi: 3.2.0
info:
  title: Spaceship.com Contacts attributes API
  contact:
    email: support@spaceship.com
    url: https://www.spaceship.com/about/contact-us/
  description: '# Spaceship API


    ## Authentication


    Spaceship API uses a combination of API key and API secret for authentication.'
  version: 1.0.0
  x-logo:
    url: https://spaceship-cdn.com/spaceship-api-doc-assets/logo.svg
servers:
- url: https://spaceship.dev/api
  description: The main server for the Spaceship External API
  variables: {}
security:
- apiKey: []
  apiSecret: []
tags:
- name: Contacts attributes
paths:
  /v1/contacts/attributes:
    put:
      operationId: saveContactAttributes
      summary: Save contact attributes
      description: 'Save contact attributes and return the generated contact ID.


        ### Required Permissions


        - contacts:write


        ### Rate Limits


        * The limit for saving contact attribute details is 300 requests per user, within 300 seconds.'
      parameters: []
      responses:
        '200':
          description: The request was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attributes.ContactsAttributesResponse'
        '400':
          description: The request is invalid.
          headers:
            spaceship-error-code:
              required: true
              schema:
                $ref: '#/components/schemas/errorCode'
            spaceship-operation-id:
              required: true
              schema:
                $ref: '#/components/schemas/operationId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '401':
          description: The user's request was not authorized properly.
          headers:
            spaceship-error-code:
              required: true
              schema:
                $ref: '#/components/schemas/errorCode'
            spaceship-operation-id:
              required: true
              schema:
                $ref: '#/components/schemas/operationId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: The user's request not allowed to perform this action with the current scopes.
          headers:
            spaceship-error-code:
              required: true
              schema:
                $ref: '#/components/schemas/errorCode'
            spaceship-operation-id:
              required: true
              schema:
                $ref: '#/components/schemas/operationId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: The requested object was not found.
          headers:
            spaceship-error-code:
              required: true
              schema:
                $ref: '#/components/schemas/errorCode'
            spaceship-operation-id:
              required: true
              schema:
                $ref: '#/components/schemas/operationId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ObjectNotFoundError'
        '422':
          description: The entity is unprocessable.
          headers:
            spaceship-error-code:
              required: true
              schema:
                $ref: '#/components/schemas/errorCode'
            spaceship-operation-id:
              required: true
              schema:
                $ref: '#/components/schemas/operationId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: The response indicates that the rate limit for the API has been exceeded. It includes details about the rate limit, like the number of requests left and the time the rate limit window resets.
          headers:
            spaceship-error-code:
              required: true
              schema:
                $ref: '#/components/schemas/errorCode'
            spaceship-operation-id:
              required: true
              schema:
                $ref: '#/components/schemas/operationId'
            X-RateLimit-Limit:
              required: true
              description: Request limit per the allotted time window
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 2147483647
            X-RateLimit-Remaining:
              required: true
              description: The number of requests left for the time window
              schema:
                type: integer
                format: int32
                minimum: 0
                maximum: 2147483647
            X-RateLimit-Reset:
              required: true
              description: The UTC date/time when the current rate limit window resets
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 2147483647
            Retry-After:
              required: true
              description: The number of seconds inndicating how long the client ought to wait before making a follow-up request
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 2147483647
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: The infrastructure encountered an error.
          headers:
            spaceship-error-code:
              required: true
              schema:
                $ref: '#/components/schemas/errorCode'
            spaceship-operation-id:
              required: true
              schema:
                $ref: '#/components/schemas/operationId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnexpectedError'
      tags:
      - Contacts attributes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttributeDetails'
        description: Details
      x-scopes:
      - contacts:write
      x-codeSamples:
      - lang: javascript
        source: "const url = 'https://spaceship.dev/api/v1/contacts/attributes';\nconst options = {\n  method: 'PUT',\n  headers: {\n    'X-API-Key': 'REPLACE_KEY_VALUE',\n    'X-API-Secret': 'REPLACE_KEY_VALUE',\n    'content-type': 'application/json'\n  },\n  body: JSON.stringify({type: 'string'})\n};\n\nfetch(url, options)\n  .then(res => res.json())\n  .then(json => console.log(json))\n  .catch(err => console.error(err));"
      - lang: php
        source: "<?php\nrequire_once('vendor/autoload.php');\n\n$client = new \\GuzzleHttp\\Client();\n\n$response = $client->request('PUT', 'https://spaceship.dev/api/v1/contacts/attributes', [\n  'body' => '{\"type\":\"string\"}',\n  'headers' => [\n    'X-API-Key' => 'REPLACE_KEY_VALUE',\n    'X-API-Secret' => 'REPLACE_KEY_VALUE',\n    'content-type' => 'application/json',\n  ],\n]);\n\necho $response->getBody();"
      - lang: python
        source: "import requests\n\nurl = \"https://spaceship.dev/api/v1/contacts/attributes\"\n\npayload = { \"type\": \"string\" }\nheaders = {\n    \"X-API-Key\": \"REPLACE_KEY_VALUE\",\n    \"X-API-Secret\": \"REPLACE_KEY_VALUE\",\n    \"content-type\": \"application/json\"\n}\n\nresponse = requests.put(url, json=payload, headers=headers)\n\nprint(response.text)"
      - lang: shell
        source: "curl --request PUT \\\n     --url https://spaceship.dev/api/v1/contacts/attributes \\\n     --header 'X-API-Key: REPLACE_KEY_VALUE' \\\n     --header 'X-API-Secret: REPLACE_KEY_VALUE' \\\n     --header 'content-type: application/json' \\\n     --data '{\"type\":\"string\"}'"
  /v1/contacts/attributes/{contact}:
    get:
      operationId: readAttributeDetails
      summary: Read attribute details
      description: 'Read attribute details by contact ID.


        ### Required Permissions


        - contacts:read


        ### Rate Limits


        * The limit for listing contact attribute details is 5 requests per attribute, within 300 seconds.'
      parameters:
      - name: contact
        in: path
        required: true
        schema:
          type: string
          example: 1ZdMXpapqp9sle5dl8BlppTJXAzf5
          minLength: 27
          maxLength: 32
          pattern: '[a-zA-Z0-9]+'
          description: Contact ID
      responses:
        '200':
          description: The request was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeDetails'
        '400':
          description: The request is invalid.
          headers:
            spaceship-error-code:
              required: true
              schema:
                $ref: '#/components/schemas/errorCode'
            spaceship-operation-id:
              required: true
              schema:
                $ref: '#/components/schemas/operationId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '401':
          description: The user's request was not authorized properly.
          headers:
            spaceship-error-code:
              required: true
              schema:
                $ref: '#/components/schemas/errorCode'
            spaceship-operation-id:
              required: true
              schema:
                $ref: '#/components/schemas/operationId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: The user's request not allowed to perform this action with the current scopes.
          headers:
            spaceship-error-code:
              required: true
              schema:
                $ref: '#/components/schemas/errorCode'
            spaceship-operation-id:
              required: true
              schema:
                $ref: '#/components/schemas/operationId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: The requested object was not found.
          headers:
            spaceship-error-code:
              required: true
              schema:
                $ref: '#/components/schemas/errorCode'
            spaceship-operation-id:
              required: true
              schema:
                $ref: '#/components/schemas/operationId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ObjectNotFoundError'
        '422':
          description: The entity is unprocessable.
          headers:
            spaceship-error-code:
              required: true
              schema:
                $ref: '#/components/schemas/errorCode'
            spaceship-operation-id:
              required: true
              schema:
                $ref: '#/components/schemas/operationId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: The response indicates that the rate limit for the API has been exceeded. It includes details about the rate limit, like the number of requests left and the time the rate limit window resets.
          headers:
            spaceship-error-code:
              required: true
              schema:
                $ref: '#/components/schemas/errorCode'
            spaceship-operation-id:
              required: true
              schema:
                $ref: '#/components/schemas/operationId'
            X-RateLimit-Limit:
              required: true
              description: Request limit per the allotted time window
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 2147483647
            X-RateLimit-Remaining:
              required: true
              description: The number of requests left for the time window
              schema:
                type: integer
                format: int32
                minimum: 0
                maximum: 2147483647
            X-RateLimit-Reset:
              required: true
              description: The UTC date/time when the current rate limit window resets
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 2147483647
            Retry-After:
              required: true
              description: The number of seconds inndicating how long the client ought to wait before making a follow-up request
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 2147483647
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: The infrastructure encountered an error.
          headers:
            spaceship-error-code:
              required: true
              schema:
                $ref: '#/components/schemas/errorCode'
            spaceship-operation-id:
              required: true
              schema:
                $ref: '#/components/schemas/operationId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnexpectedError'
      tags:
      - Contacts attributes
      x-scopes:
      - contacts:read
      x-codeSamples:
      - lang: javascript
        source: "const url = 'https://spaceship.dev/api/v1/contacts/attributes/1ZdMXpapqp9sle5dl8BlppTJXAzf5';\nconst options = {\n  method: 'GET',\n  headers: {'X-API-Key': 'REPLACE_KEY_VALUE', 'X-API-Secret': 'REPLACE_KEY_VALUE'}\n};\n\nfetch(url, options)\n  .then(res => res.json())\n  .then(json => console.log(json))\n  .catch(err => console.error(err));"
      - lang: php
        source: "<?php\nrequire_once('vendor/autoload.php');\n\n$client = new \\GuzzleHttp\\Client();\n\n$response = $client->request('GET', 'https://spaceship.dev/api/v1/contacts/attributes/1ZdMXpapqp9sle5dl8BlppTJXAzf5', [\n  'headers' => [\n    'X-API-Key' => 'REPLACE_KEY_VALUE',\n    'X-API-Secret' => 'REPLACE_KEY_VALUE',\n  ],\n]);\n\necho $response->getBody();"
      - lang: python
        source: "import requests\n\nurl = \"https://spaceship.dev/api/v1/contacts/attributes/1ZdMXpapqp9sle5dl8BlppTJXAzf5\"\n\nheaders = {\n    \"X-API-Key\": \"REPLACE_KEY_VALUE\",\n    \"X-API-Secret\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.get(url, headers=headers)\n\nprint(response.text)"
      - lang: shell
        source: "curl --request GET \\\n     --url https://spaceship.dev/api/v1/contacts/attributes/1ZdMXpapqp9sle5dl8BlppTJXAzf5 \\\n     --header 'X-API-Key: REPLACE_KEY_VALUE' \\\n     --header 'X-API-Secret: REPLACE_KEY_VALUE'"
components:
  schemas:
    ForbiddenError:
      type: object
      required:
      - detail
      properties:
        detail:
          type: string
          pattern: ^[\s|\S]*$
          description: A general message about the exception
          readOnly: true
    ValidationError:
      type: object
      required:
      - detail
      - data
      properties:
        detail:
          type: string
          pattern: ^[\s|\S]*$
          description: A general message about the exception
          readOnly: true
        data:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
                example: name
                pattern: ^[\s|\S]*$
                description: The path to the field that caused the validation error
                readOnly: true
              details:
                type: string
                example: The domain name contains invalid characters
                pattern: ^[\s|\S]*$
                description: A specific message about what is wrong with the field
                readOnly: true
            required:
            - field
            - details
          description: A detailed list of validation errors
          readOnly: true
    RateLimitError:
      type: object
      required:
      - detail
      properties:
        detail:
          type: string
          pattern: ^[\s|\S]*$
          description: A general message about the exception
          readOnly: true
    ObjectNotFoundError:
      type: object
      required:
      - detail
      properties:
        detail:
          type: string
          pattern: ^[\s|\S]*$
          description: A general message about the exception
          readOnly: true
    ErrorDetail:
      type: object
      required:
      - detail
      properties:
        detail:
          type: string
          pattern: ^[\s|\S]*$
          description: A general message about the exception
          readOnly: true
    operationId:
      type: string
      maxLength: 16
      pattern: ^[a-z0-9]{16}$
      description: 16-characters unique identifier of the operation
    UnauthorizedError:
      type: object
      required:
      - detail
      properties:
        detail:
          type: string
          pattern: ^[\s|\S]*$
          description: A general message about the exception
          readOnly: true
    contactId:
      type: string
      example: 1ZdMXpapqp9sle5dl8BlppTJXAzf5
      minLength: 27
      maxLength: 32
      pattern: '[a-zA-Z0-9]+'
      description: Contact ID
    AttributeDetails:
      type: object
      required:
      - type
      properties:
        type:
          type: string
          minLength: 2
          maxLength: 32
          pattern: \w+
      discriminator:
        propertyName: type
        mapping:
          ca: '#/components/schemas/CaAttributeDetails'
          us: '#/components/schemas/UsAttributeDetails'
      description: Attribute details
    errorCode:
      type: string
      maxLength: 255
      pattern: ^(business|application|infrastructure)(\.[a-zA-Z]+)+$
      description: The dot-separated error code indicating the type of the problem occurred
    UnexpectedError:
      type: object
      required:
      - detail
      properties:
        detail:
          type: string
          pattern: ^[\s|\S]*$
          description: A general message about the exception
          readOnly: true
    Attributes.ContactsAttributesResponse:
      type: object
      required:
      - contactId
      properties:
        contactId:
          $ref: '#/components/schemas/contactId'
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for authenticating requests, with a set of scopes (permissions) defined by the user at the time of creation.
    apiSecret:
      type: apiKey
      in: header
      name: X-API-Secret
      description: API secret for authenticating requests must be set together with the API key.
x-scopes:
  domains:read: Read domain information and check configuration
  domains:write: Manage domains and domain settings
  domains:transfer: Transfer domains in and out
  domains:billing: Manage domains billing operations
  contacts:write: Save contact details
  contacts:read: Read contact details
  dnsrecords:write: Write DNS resource records
  dnsrecords:read: Read DNS resource records
  asyncoperations:read: Read async operations details
  sellerhub:read: Read SellerHub Domains
  sellerhub:write: Write SellerHub Domains
x-tagGroups:
- name: Domains
  tags:
  - Domain Management
  - Domain Availability
  - Domain Settings
  - Personal Nameservers
  - Domain Transfer
- name: Contacts
  tags:
  - Contacts
  - Contacts attributes
- name: DNS
  tags:
  - DNS records
- name: SellerHub
  tags:
  - SellerHub
- name: Async Operations
  tags:
  - Async Operations
